<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a href="index.html" class="navbar-brand">vincentsordo</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navNavbar" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a href="/index" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/users" class="nav-link">Users</a>
                </li>
                <li class="nav-item">
                    <a href="/contact" class="nav-link">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>