<div class="pageTitle text-center py-5">
    <h1><strong>{{title}}</strong></h1>
</div>

<div id="index">
    <div class="row">
        <div class="col-md-6">
            <div class="card border-0">
                <div class="card-body">
                    <h3>History</h3>
                    <ul>
                        <li>Raised on the Westside of Santa Cruz.</li>
                        <li>Moved to SLO for a BS in Computer Science at Cal Poly</li>
                        <li>Worked for 7+ years in eccomerce order management, specializing in payments</li>
                        <li>Taking some time off to explore other technologies.</li>
                    </ul>
                    <h3>Projects</h3>
                    <ul>
                        <li>Integrating <a href="https://www.home-assistant.io/">HomeAssistant</a> home automation framework with Wink, Nest, and Accurite.</li>
                        <li>Integrating <a href="https://github.com/home-assistant/homebridge-homeassistant">Homebridge</a> with HomeAssistant.</li>
                        <li>Creating HomeAssistant Custom Panels using <a href="https://www.home-assistant.io/cookbook/custom_panel_using_react/">React Component</a></li>
                    </ul>
                    <h3>What I Am Reading</h3>
                    <ul>
                        <li><a href="https://www.amazon.com/Own-Day-Your-Life-Optimized/dp/0062684078">Own the Day, Own Your Life</a> - Aubrey Marcus</li>
                        <li><a href="https://www.amazon.com/Care-Soul-Twenty-fifth-Anniversary-Cultivating/dp/0062415670">Care of the Soul</a> - Thomas Moore</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card border-0">
                <div class="card-body">
                    <img src="img/aboutPictureLarge.jpg" alt="Vincent Sordo" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>