<!DOCTYPE html>
<html>
    <head>
        {{> headTags }}
    </head>
    <body>
        {{> header }}
        {{{ body }}}
        {{> footer }}
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>
