<div class="pageTitle text-center py-5">
    <h1><strong>{{title}}</strong></h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div id="blogPosts" class="col-lg-8"></div>
        <div class="col-lg-2"></div>
    </div>
</div>

<script type="text/javascript">
    // on load load recent blog posts
    var pathParts = window.location.pathname.split("/");
    var numberOfBlogPosts = pathParts[pathParts.length-1] || pathParts[pathParts.length-2];
    window.onload = populateBlogListing(numberOfBlogPosts);

</script>