<div class="pageTitle text-center py-5">
    <h1><strong>{{title}}</strong></h1>
</div>

<div class="container">
    <input id="postId" type="hidden" value="{{ postId }}">

    <div id="errorRow" class="row d-none"></div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div id="blogPost" class="col-md-8">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 id="postTitle" class="card-title"></h2>
                    <p id="postParagraph" class="card-text"></p>
                </div>
                <div class="card-footer text-muted">
                    Posted on <strong id="postCreatedDate"></strong> by
                    <a href="#">Vincent Sordo</a>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>

<script type="text/javascript">
    // on ready load recent blog posts
    jQuery(function() {
        populateBlogPost(jQuery('#postId').val());
    });
</script>